<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Touitter</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="../src/img/t.png" />
    <link rel="stylesheet" href="../css/index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet"/>
    <script src="../js/index.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="leftContainer">
        <div class="logoContainer">
          <a href="/"><img class="logo" src="../src/img/black_logo.png" /></a>
        </div>
        <div class="logcontainer">
          {{if eq .Logins.Id 0}}
          <div class="btnlog">
            <a href="/register">Sign-up</a>
          </div>
          <div class="btnlog">
            <a href="/login">Login</a>
          </div>
          {{else if gt .Logins.Id 0}}
          <a href="/account"><img class="img-profile" src="{{.Logins.Urlpseudo}}" /></a>
          <div class="entete-text">
            <p class="name-surname">{{.Logins.Name}} {{.Logins.Surname}}</p>
            <a class="btn-username" href="/account"><p class="username">@{{.Logins.Pseudo}}</p></a>
            <form action="/logout" method="post">
              <button class="btn-logout" type="submit" name="action" value="/">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                  <path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z"/>
                </svg>
              </button>
            </form>
          </div>
          {{end}}
        </div>
        <div class="hautGauche">
          <div class="btnAcc">
            <a href="/">
              <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                <path d="M240-200h120v-240h240v240h120v-360L480-740 240-560v360Zm-80 80v-480l320-240 320 240v480H520v-240h-80v240H160Zm320-350Z"/>
              </svg>
              Accueil
            </a>
          </div>
          <div class="btnAcc">
            <a href="/explorer">
              <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" >
                <path d="m260-260 300-140 140-300-300 140-140 300Zm220-180q-17 0-28.5-11.5T440-480q0-17 11.5-28.5T480-520q17 0 28.5 11.5T520-480q0 17-11.5 28.5T480-440Zm0 360q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/>
              </svg>
              Explorer
            </a>
          </div>
          {{if gt .Logins.Id 0}}
          <div class="btnAcc">
            <a href="/account">
              <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                <path d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z"/>
              </svg>
              Profil
            </a>
          </div>
          {{end}}
        </div>
        {{if gt .Logins.Id 0}}
        <div class="writecontainer">
          <button id="postButton">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
              <path d="M320-160q-33 0-56.5-23.5T240-240v-120h120v-90q-35-2-66.5-15.5T236-506v-44h-46L60-680q36-46 89-65t107-19q27 0 52.5 4t51.5 15v-55h480v520q0 50-35 85t-85 35H320Zm120-200h240v80q0 17 11.5 28.5T720-240q17 0 28.5-11.5T760-280v-440H440v24l240 240v56h-56L510-514l-8 8q-14 14-29.5 25T440-464v104ZM224-630h92v86q12 8 25 11t27 3q23 0 41.5-7t36.5-25l8-8-56-56q-29-29-65-43.5T256-684q-20 0-38 3t-36 9l42 42Zm376 350H320v40h286q-3-9-4.5-19t-1.5-21Zm-280 40v-40 40Z"/>
            </svg>
            Poster
          </button>
        </div>
        {{end}}
      </div>
      <div class="centerContainer">
        <div class="txtCenter">
          <div class="txtContainer">
            {{if gt (len .Posts) 1}}
            <a href="/"><h1 class="post-title">Posts</h1></a>
            {{else}}
            <a href="/"><h1 class="post-title">Post</h1></a>
            {{end}}
            {{range .Posts}}
            <section id="{{.Idpost}}">
            <div class="post">
              <div class="entete">
                <a href="/accounts/{{.Idlogin}}">
                  <img class="img-profile-post" src="{{.Urlpseudo}}"/>
                </a>
                <div class="entete-text">
                  <p class="name-surname-post">{{.Name}} {{.Surname}}</p>
                  <a href="/accounts/{{.Idlogin}}"><p class="username">@{{.Pseudo}}</p></a>
                </div>
                <div class="categorie-container">
                  <p class="categorie">{{.Categorie}}</p>
                  {{.Urlcategorie}}
                </div>
              </div>
              {{if .Url}}
              <img class="img-post" src="{{.Url}}">
              {{end}}
              <p class="content">{{.Content}}</p>
              <div class="bas">
                <div class="icon-text">
                  <a class="btn-comment" href="/post/{{.Idpost}}">
                    <svg class="icone-comment" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                      <path d="M240-400h320v-80H240v80Zm0-120h480v-80H240v80Zm0-120h480v-80H240v80ZM80-80v-720q0-33 23.5-56.5T160-880h640q33 0 56.5 23.5T880-800v480q0 33-23.5 56.5T800-240H240L80-80Zm126-240h594v-480H160v525l46-45Zm-46 0v-480 480Z"/>
                    </svg>
                  </a>
                  <p class="number-comment">{{.Commentnumber}}</p>
                </div>
                <div class="icon-text">
                  {{if eq $.Logins.Id 0}} {{.Svglike}} {{else if gt $.Logins.Id 0}}
                  <form action="/addlike" method="POST">
                    <button class="btn-like" type="submit" name="action" value="{{.Idpost}}">
                      {{.Svglike}}
                    </button>
                  </form>
                  {{end}}
                  <p class="number-like">{{.Likenumber}}</p>
                </div>
              </div>
            </div>
            </section>
            {{end}}
          </div>
        </div>
      </div>
      <div class="rightContainer">
        <div class="searchbarContainer">
          <form action="/" method="post" autocomplete="off">
            <input class="searchbar" type="text" id="recherche" name="recherche" placeholder="Rechercher"/>
            <button class="btn-search" type="submit" value="Envoyer">
              <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                <path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/>
              </svg>
            </button>
          </form>
        </div>
        <div class="tendanceContainer">
          <h2>Tendances</h2>
          {{range .Tendances}}
          <a href="/categorie/{{.Idcategorie}}">{{.Name}}{{.Urlcategorie}}</a>
          {{end}}
        </div>
        <div class="categorieContainer">
          <h2>Catégories</h2>
          {{range .Categories}}
          <a href="/categorie/{{.Idcategorie}}">{{.Name}}{{.Urlcategorie}}</a>
          {{end}}
        </div>
      </div>
    </div>
    <div id="modal" class="modal">
      <div id="center" class="center">
        <div id="haut">
          <img class="img-profile" src="{{.Logins.Urlpseudo}}" />
          <h1>Nouveau post</h1>
          <button id="closeButton"><svg xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 -960 960 960" width="30"><path d="m294-246-47-48 185-186-185-186 47-48 186 186 186-186 47 48-185 186 185 186-47 48-186-186-186 186Z"/></svg></button>
        </div>
        <div class="text-post">
          <form action="/addpost" method="POST" enctype="multipart/form-data">
            <textarea class="input-post" id="input-post" type="text-area" name="content" placeholder="Votre post" maxlength="280" required></textarea>
            <div id="compteur">280 caractères restants</div>
            <input type="file" id="imageUpload" name="image" accept=".jpg, .jpeg, .png, .gif, .webp" style="display: none;"/>
            <div class="form-controls">
              <div class="left-controls">
                <button class="btn-image" type="button" id="fileUploadButton" style="cursor: pointer; background: none; border: none; padding: 0;">
                  <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                    <path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Zm40-80h480L570-480 450-320l-90-120-120 160Zm-40 80v-560 560Z"/>
                  </svg>
                </button>
                <select name="categorie">
                  {{range .Categories}}
                  <option value="{{.Idcategorie}}">{{.Name}}</option>
                  {{end}}
                </select>
              </div>
              <div class="spacer"></div>
              <button class="add-post" type="submit" name="action">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                  <path d="M120-160v-640l760 320-760 320Zm80-120 474-200-474-200v140l240 60-240 60v140Zm0 0v-400 400Z"/>
                </svg>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>




